# put here your custom config value
menu "WiFi Configuration"
config WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for connect to network.

config WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for connect to network.
endmenu
